/* Bottom-Right Corner Text */
.bottom-right-text {
    position: fixed;
    bottom: 0.8rem;
    right: 0.8rem;
    z-index: 1;
}

.bottom-right-text a {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    color: white;
    text-decoration: none;
    position: relative;
}

.bottom-right-text a:before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 0;
    background: white;
    border-radius: 50px;
    transition: width 0.4s ease;
}

.bottom-right-text a:hover:before {
    width: 100%;
}