/* Contact Box */
.contact-box {
    position: fixed;
    bottom: 2rem; 
    left: 2rem;
    border: 2px solid white; 
    border-radius: 10px; 
    padding: 1rem 1rem; 
    background: transparent; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: transform 0.3s ease;
}
  
.contact-box:hover {
    transform: scale(1.05);
}
  
.contact-box a {
    color: white;
    text-decoration: none;
    position: relative;
}

.c-text-en {
    font-size: clamp(2rem, 6vw, 4.5rem);
}

.c-text-ja {
    font-size: clamp(1.6rem, 4.5vw, 3.8rem);
}

.contact-box a:before {
    content: "";
    position: absolute;
    bottom: 1px;
    height: 2px;
    width: 0;
    background: white;
    border-radius: 50px;
    transition: width 0.4s ease;
}

.contact-box a:hover:before {
    width: 100%; 
}