/* Navbar */
.nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: clamp(1.3rem, 0.4vw, 1.0rem);
  position: fixed;
  width: 100%;
  height: auto;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: clamp(1rem, 4vw, 3rem);
}

.nav-link {
  text-decoration: none;
}

.text-base {
  color: white;
  position: relative;
  text-decoration: none;
}

.text-en {
  font-size: clamp(1.3rem, 4vw, 2rem);
}

.text-ja {
  font-size: clamp(0.7rem, 3vw, 1.3rem);
}

.text-base.active:before {
  width: 100%;
}

.text-base:before {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 2px;
  width: 0;
  background: white;
  border-radius: 50px;
  transition: width 0.4s ease;
}

.text-base:hover:before {
  width: 100%;
}

/* Language Toggle */
.language-toggle {
  margin-left: auto; 
}

.language-toggle button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 0.2rem 0.5rem;
  transition: color 0.3s ease;
}

.language-toggle button:before {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 2px;
  width: 0;
  background: white;
  border-radius: 50px;
  transition: width 0.4s ease;
}

.language-toggle button:hover:before {
  width: 100%; 
}
