.container {
    height: 100vh;
    overflow-y: auto;
    margin: 0; 
    position: relative;
}

.page {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 6rem;
    left: 3rem;
    right: 3rem;
    bottom: 10vh;
    height: auto;
    overflow-y: auto;
    clip-path: inset(0 0 0 0);
    scrollbar-width: none;
}

.page.faded {
    opacity: 1;
    pointer-events: auto;
}

.page-title {
    font-size: clamp(2rem, 6vw, 4rem);
    margin-bottom: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    max-width: 80vw;
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.3rem 1rem;
}

.page-body {
    margin-bottom: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.page-body-large {
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: clamp(1.5rem, 2.25vw, 3rem);
}

.page-body-link {
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.page-body-link:before {
    content: "";
    position: absolute;
    bottom: 1px;
    height: 2px;
    width: 0;
    background: white;
    border-radius: 50px;
    transition: width 0.4s ease;
  }
  
  .page-body-link:hover:before {
    width: 100%;
  }

  .page-media-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-photo {
    height: auto;
    max-height: 60vh;
    width: auto;
    pointer-events: none;
    border: 2px solid white;
}

.page-iframe {
    border: none;
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .page-iframe {
        height: 50vh;
    }
}

@media screen and (max-width: 1025px) {
    .page{
        left:1rem;
        right:1rem;
    }
    .page-body{
        font-size: clamp(1rem, 3vw, 3rem);
        margin-bottom: 0rem;
    }

    .page-body-link{
        font-size: clamp(1rem, 3vw, 3rem);
        margin-bottom: 0rem;
    }

    .page-iframe {
        height: 30vh;
    }
    .mobile-unsupported {
        display: none;
    }
}

@keyframes underline-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}
